header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 15vh;
}

.navBar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    color: white;
    font-size: 35px;
}

.navItemsContainer{
    width: 50%;
    
}

ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: darkorange;
}

